<section
  <div class="single-item">
    <div class="container">
      <!-- Shopping single item contents -->
      <div class="single-item-content">
        <div class="row">
          <div class="col-md-4 col-sm-5">
            <%= image_tag 'shopping/shop-single.jpg', class: 'img-responsive img-thumbnail' %>
          </div>
          <div class="col-md-8 col-sm-7">
            <!-- Heading -->
            <h3><%= @recipe.name %></h3>
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <div class="item-details">
                  <h5>Ingredientes :</h5>
                  <p class="text-justify">
                    <%= @recipe.ingredients %>
                  </p>
                  <hr>
                  <h5>Passo a passo :</h5>
                  <p class="text-justify">
                    <%= @recipe.directions %>
                  </p>
                </div>
                <div>
                  <%= link_to 'Voltar', root_path , class: "btn btn-default" %>                </div>
              </div>
              <div class="col-md-5 col-sm-12">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <tr>
                      <td>Cozinha</td>
                      <td><%= @recipe.cuisine %></td>
                    </tr>
                    <tr>
                      <td>Tipo de comida</td>
                      <td><%= @recipe.food_type %></td>
                    </tr>
                    <tr>
                      <td>Tempo de preparo</td>
                      <td><%= @recipe.cooking_time %> min.</td>
                    </tr>
                    <tr>
                      <td>Quantas pessoas serve</td>
                      <td><%= @recipe.serves %></td>
                    </tr>
                    <tr>
                      <td>Nível de dificuldade</td>
                      <td><%= @recipe.difficulty %></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
