<section>
  <h1><%= @recipe.name %></h1>
  <dl class="dl-horizontal">
    <dt>Cozinha</dt>
    <dd><%= @recipe.cuisine %></dd>
    <dt>Tipo de comida</dt>
    <dd><%= @recipe.food_type %></dd>
    <dt>Quantas pessoas serve</dt>
    <dd><%= @recipe.serves %></dd>
    <dt>Tempo de preparo</dt>
    <dd><%= @recipe.cooking_time %></dd>
    <dt>Nível de dificuldade</dt>
    <dd><%= @recipe.difficulty %></dd>
    <dt>Ingredientes</dt>
    <dd><%= @recipe.ingredients %></dd>
    <dt>Passo a passo</dt>
    <dd><%= @recipe.directions %></dd>
  </dl>
  <div>
    <%= link_to 'Voltar', root_path , class: "btn btn-default" %>
  </div>
</section>
