<header>
  <div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-5">
					<!-- Link -->
					<%= link_to root_path do %>
						<!-- Logo area -->
						<div class="logo">
              <%= image_tag 'logo.png', class: 'img-responsive' %>
							<!-- Heading -->
							<h1>Palmirinha</h1>
							<!-- Paragraph -->
							<p>A rede social mais gostosa da internet</p>
						</div>
					<% end %>
				</div>
				<div class="col-md-8 col-sm-7">
					<!-- Navigation -->
					<nav class="navbar navbar-default navbar-right" role="navigation">
						<div class="container-fluid">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Alternar navegação</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li>
                    <%= link_to root_path do %>
                      <%= image_tag 'nav-menu/nav1.jpg', class: 'img-responsive' %>
                       Início
                    <% end %>
                  </li>
									<li>
                    <%= link_to root_path do %>
                      <%= image_tag 'nav-menu/nav2.jpg', class: 'img-responsive' %>
                      Minhas Receitas
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_recipe_path do %>
                      <%= image_tag 'nav-menu/nav3.jpg', class: 'img-responsive' %>
                      Cadastrar Receita
                    <% end %>
                  </li>
									<li>
                    <%= link_to root_path do %>
                      <%= image_tag 'nav-menu/nav4.jpg', class: 'img-responsive' %>
                      Login | Sair
                    <% end %>
                  </li>
								</ul>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
				</div>
			</div>
		</div> <!-- / .container -->
	</div>
</header>
